*{
	margin:0;
	padding:0;

}
body{
	background-color: #eee;
	position: relative;
	margin: 0 auto;	
	height: 1300px;
	box-sizing: content-box
}

#firstOne{
	display: flex;
	justify-content: center;
	height: 50px;
	position: relative;
	top: 70px;

}
#firstOne button {
	width: 100px;
	border-radius: 20%;
	background:none;
	border:1px solid black;
	font-family: monospace;
	background-color: #ff87a5;
box-shadow: 10px 10px 25px #ff87a5;

}
#firstOne input{
	font-size: 30px;
	font-family: monospace;
	width: 400px;
	background: none;
	border: 2px solid black;
	margin: 0 10px;
}
#default{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	position:relative;
	top: 100px;
	font-family: monospace;
	font-size: 22px;
	margin-top:10px;
	text-align: left;
}
#default div{
	padding:10px;
	margin:5px 0;
	position: relative;


}

#firsttweet{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	position:relative;
	top: 100px;
	font-family: monospace;
	font-size: 25px;
	margin-top:10px;


}
section{
	margin :5px 0px;
	width: 733.45px;
	height: 30px;
	padding-top:5px;
	font-size: 22px;
	font-family: monospace;
	position: relative
}
#default div::after{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 100%;
	left: 0;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.4s;

}
#default div:hover::after{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background:linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.4s;
	z-index: -1;
	


}	
#default div::before{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 100%;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.7s;

}
#default div:hover::before{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.7s;
	z-index: -1;


}	
#default div:hover{
	color: black;
}
div section::after{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 100%;
	left: 0;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.4s;

}
div section:hover::after{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.4s;
	z-index: -1;
	


}	
div section::before{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 100%;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.7s;

}
div section:hover::before{
	content: "";
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: 0;
	background: linear-gradient(to right, #ee9ca7, #ffdde1);
	transition: 0.7s;
	z-index: -1;


}	
div section:hover{
	color: black;
}